@import url("https:fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* start of global styling */

:root {
  --font-base: "Poppins", sans-serif;
  --robin-blue-color: #10c9c3;
  --hover-color: #087a77;
  --black-color: #141414;
  --grey-color: #8e8e8e;
  --white-color: #fff;
  /* hex codes from ppt */
  --dark-color: #2c3333;
  --green-color: #2e4f4f;
  --teal-color: #0e8388;
  --light-color: #cbe4de;
  --dark-teal: #0a5e64;
  --transition: all 300ms ease-in-out;

  /* application tutorial's styling */
  --font-smaller: 1.6rem;
  --font-bigger: 2.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--font-base);
  color: var(--dark-color);

  /* application tutorial's styling */
  /* font-weight: 400;
    line-height: 1.8; */
}

/* end of global ROOT styling */

/* start of application tutorial's ROOT styling */

/* is this necessary as box sizing appears earlier in global styling */
*,
::before,
::after {
  box-sizing: border-box;
}

a {
  /* color: unset; */
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* adjust to global styling later */
h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.25;
  margin: 0 0 0.5em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

/* img {
    width: 100%;
    display: block;
    height: auto;
  } */


  .section__padding {
    padding: 10rem 0;
  }

  .para__text {
    line-height: 1.7;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1px;
  }
  
  .text__center {
    text-align: center;
  }

  .bg__blue {
    background-color: var(--robin-blue-color);
  }

  .bg__dark-teal {
    /* */
    background-color: var(--dark-teal);
  }


/* NEW APPLICATION STYLING */

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2em;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  border: 4px solid var(--light-color);
  border-radius: 30px 30px 12px 12px; /* NEW - used to be just 12px */
  background-color: var(--teal-color);
  margin-bottom: 5em;
}

/* progress bar */

.form-box .progress {
  position: relative;
  padding: 1em;
}

.logo {
  font-size: 1.75em;
  font-weight: 800;
  color: var(--dark-color);
  padding: 40px 48px;
  text-align: center;
}
.logo span {
  color: var(--robin-blue-color);
}

/* Progress Steps */

.progress ul.progress-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.progress ul.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
  color: var(--white-color); /* uncommented */
}

.progress ul.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: var(--font-smaller);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  border-radius: 50%;
  background-color: #d3d3d3; /* change to lighter colour */
  z-index: 1;
  color: var(--teal-color);
}

.progress ul.progress-steps li.active > span {
  /* targets the numbers in the circles */
  color: var(--white-color);
  background-color: var(--teal-color);
  border: 4px solid var(--robin-blue-color);
  z-index: 1;
}

.progress ul.progress-steps li p span {
  /* NULL - removed 'span' after 'p' to fix the steps alignment */
  font-size: var(--font-smaller);
  color: var(--light-color);
  display: none;
}

.progress ul li p {
  position: absolute;
  top: -2em;
  font-size: 12px;
  text-wrap: nowrap; /* NEW - to address second line being hidden behind span circle */
  margin-left: -12px; /* NEW maybe - to center align text above circles */
}

.step {
  margin-right: 15px; /* NEW - to prevent in-line text from overlapping e/o */
}

/* Form */

.form-box form {
  width: 100%;
  padding: 3em 1em;
  background-color: var(--white-color);
  border-radius: 30px 30px 12px 12px;
}
form > div {
  max-width: 400px;
  margin: 0 auto;
}
form > div p {
  color: var(--robin-blue-color);
  /* margin-bottom: 3em; */
  font-size: 1.4rem;
}
form > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
form :where(input, select) {
  height: 40px;
  padding: 0 1em;
  border-radius: 7px;
  outline-color: var(--robin-blue-color);
  border: 1px solid var(--light-color);
  background-color: transparent;
}
form label {
  font-size: var(--font-smaller);
  margin-bottom: 0.5em;
  font-weight: 600;
}
form .grouping {
  display: flex;
}
form .grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}
form .checkbox input {
  height: auto;
}

form > div:not(.btn-group) {
  display: none;
  -webkit-animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 01;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
form > div.active {
  display: block;
}

/* SVG stuff */

form > div .bg-svg {
  width: 50px;
  height: 50px;
}
form > .form-one .bg-svg {
  background: url(assets/personal.svg);
}
form > .form-two .bg-svg {
  background: url(assets/employment1.svg);
}
form > .form-three .bg-svg {
  background: url(assets/loan.svg);
}
form > .form-four .bg-svg {
  background: url(assets/employment2.svg)
}
form > .form-five .bg-svg {
  background: url(assets/bank.svg);
}

/* .btn-group .balance-btnArea > .form-one, .form-two, .form-four, .form-five {
  display: none;
} */


/* Button - we will guide form from elements so we can see button styling */

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}
.btn-group [class*="btn-"] {
  background-color: var(--robin-blue-color);
  color: var(--white-color);
  padding: 1em 2.5em;
  border: 4px solid var(--teal-color);
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, border-color 0.32 ease-out;
  transition: background-color 0.3s, border-color 0.32 ease-out;
}
.btn-group [class*="btn-"]:disabled {
  background-color: var(--light-color);
  border-color: var(--light-color);
  cursor: text;
}
.btn-group [class*="btn-"]:hover:not(:disabled) {
  background-color: var(--dark-color);
  border-color: var(--light-color);
}

.btn-group .balance-btnArea {
  margin-left: 30%;
  margin-top: 0.5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 90%;
}

.balance-btnArea {
  margin-left: 330px;
  margin-top: 50px;
}

/* #balance-label {

} */

.btn-group .btn-submit,
.form-five.active ~ .btn-group .btn-next {
  display: none;
}
.form-five.active + .btn-group .btn-submit {
  display: block;
}
/* .form-four.active ~ .btn-group {
    justify-content: space-between;
} */

::placeholder {
  color: var(--light-color);
}

/* Radio button styling */
input[type="radio"] {
  appearance: none; /* Remove default radio button appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px; /* Adjust size of radio button */
  height: 30px;
  border: 2px solid var(--teal-color); /* Border color */
  border-radius: 50%; /* Make it round */
  margin-right: 0.5em; /* Add some spacing between radio button and label */
  position: relative;
  top: 5px; /* Adjust vertical alignment */
  vertical-align: middle; /* Align with the label */
}

/* Radio button checked styling */
input[type="radio"]:checked::before {
  content: ""; /* Add a dot for checked state */
  width: 12px;
  height: 12px;
  background-color: var(--teal-color); /* Color of the dot */
  border-radius: 50%; /* Make it round */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the dot */
}

/* Radio button label styling */
label[for="male"],
label[for="female"],
label[for="other"] {
  font-size: var(--font-smaller);
  /* color: var(--white-color); */
}

/* Align radio buttons inline */
input[type="radio"],
label[for="male"],
label[for="female"],
label[for="other"] {
  display: inline-block;
}

/* media query targets default/big appearance */
@media screen and (min-width: 768px) {
  .form-box {
    flex-direction: row;
    border-radius: 12px; /* NEW - default was defined like this in og selector */
  }
  .form-box .progress {
    flex: 1 0 35%;
    min-width: 300px;
    padding: 3em;
  }
  .logo {
    margin: -48px -48px 48px;
  }
  .progress ul.progress-steps {
    flex-direction: column;
    gap: 0;
    align-items: start; /* NEW - to make line not go skew when adding media query for .progress ul li p (28:40) */
  }
  .progress ul.progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 2px;
    height: 65px;
    background-color: var(--light-color);
  }
  .form-box form {
    padding: 3em;
    border-radius: 0 12px 12px 0;
  }
  .progress ul li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }
  .progress ul.progress-steps li p span {
    display: block;
  }
}

/* for mobile devices with screen size less than 768px */
@media screen and (max-width: 768px) {
  .balance-btnArea {
    margin-left: 25%;
    margin-top: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90%;
  }

  /* query from above, used to be min */
}



/* upload docs styling */

input[type="file"] {
  display: none;
}
.upload-docs label {
  display: block;
  position: relative;
  background-color: var(--robin-blue-color);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 18.75em;
  padding: 1.12em 0;
  margin: auto;
  border-radius: 0.31em;
  cursor: pointer;
}
#num-of-files {
  font-weight: 400;
  text-align: center;
  margin: 1.25em 0 1.87em 0;
  font-size: 1.6rem;
}
.upload-docs ul {
  list-style-type: none;
}
.upload-docs li {
  font-weight: 500;
  background-color: #effffe;
  color: #025bee;
  margin-bottom: 1em;
  padding: 1.1em 1em;
  border-radius: 0.3em;
  display: flex;
  justify-content: space-between;
}

/* t's & c's */
.checkbox a{
  color: var(--robin-blue-color);
  font-size: 14px;
  font-weight: 400;
}


/* validaiton tutorial text */
.error input {
  border-color: var(--error-color);
}

.success input {
  border-color: var(--success-color);
}

form small {
  color: var(--error-color);
}


/* in person */



.inperson a {
  color: var(--teal-color);
  /* text-decoration: underline; */
}
.inperson a:hover {
  /* color: var(--white-color); */
  background: none;
  text-decoration: underline;
  transition: 0.5s;
}

/* Footer */

.div-1 {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 60px 21px;
}

@media (max-width: 991px) {
  .div-1 {
    padding: 0 20px;
  }
}

.div-2 {
  display: flex;
  width: 100%;
  max-width: 1203px;
  flex-direction: column;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-top: 5%;
    /* ADDED */
  }
}

.div-3 {
  align-self: center;
  display: flex;
  width: 640px;
  max-width: 100%;
  align-items: flex-start;
  gap: 14px;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .div-3 {
    margin-right: 10px;
    flex-wrap: wrap;
  }
}

.div-4 {
  align-self: start;
  display: flex;
  flex-direction: column;
}

.div-5 {
  align-self: center;
  display: flex;
  gap: 16px;
}

.div-5 .img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  filter: drop-shadow(0px 8px 24px rgba(24, 39, 75, 0.08)) drop-shadow(0px 6px 12px rgba(24, 39, 75, 0.12));
}

.div-6 {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  font-size: 16px;
  color: var(--Cold-Grey-white, #fff);
  font-weight: 400;
  white-space: nowrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .div-6 {
    white-space: initial;
  }
}

.div-6>* {
  letter-spacing: 1px;
}

.div-12 {
  display: flex;
  justify-content: center;
}

.div-12 .btn-contact {
  justify-content: center;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  align-self: end;
  margin-top: 49px;
  color: #000;
  text-align: center;
  padding: 1px 26px;

  text-transform: none;
}

@media (max-width: 991px) {
  .div-12 {
    margin-top: 40px;
    padding: 0 20px;
  }
}

.div-13 {
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  margin-top: 76px;
  height: 1px;
}

@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    margin-top: 40px;
  }
}

.div-14 {
  color: var(--Cold-Grey-white, #fff);
  align-self: center;
  margin-top: 35px;
  font: 300 12px Roboto, sans-serif;
}

/* to change social media a class */
.div-5 a {
  color: #fff;
}
.div-5 a:hover {
  color: var(--robin-blue-color);
  background: none;
  /* transition: .5s; */
}

.div-6 a:hover {
  color: var(--robin-blue-color);
  background: none;
  /* transition: .5s; */
}

